<div class="row table-with-content mb-5">
    <div class="col-5 table-with-content-heading">
        <p>Prefix of Name</p>
    </div>
    <div class="col-4">
        <div class="d-flex form-inputs position-relative align-items-center">
            <input class="form-control searchBar" type="text" pattern="^[a-zA-Z0-9 ]*$" placeholder="Search" 
              autocomplete="off" [(ngModel)]="search" #searchText />
            <img class="searchIcon cursorStyle" src="assets/images/search.png" alt="search-icon" />
          </div>
    </div>
    <div class="col-1 ">
        <button class="btn add-btn">+Add</button>
    </div>
</div>
